* {
    margin: 0;
    padding: 0;
}

thead {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

table, tr, thead, td  {
    border: 1px solid;
    border-collapse: collapse;
    /* margin: auto; */
    margin: 20px 20px;
    /* margin-right: 10px; */
    padding: 20px;
    text-transform: capitalize;
}